- var randomInt = function(min, max) { return Math.round(min - 0.5 + Math.random() * (max - min + 1)); }
- var getDash = function(str) { return str.split(' ').map(function(w) { return '<span>' + w + '</span>'; }).join(' '); }

doctype html
html
	head
		title W A R | M A K E T
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		link(rel='stylesheet', type='text/css', href='css/main.css')
		link(rel='stylesheet', type='text/css', href='css/mobile.css')
		link(rel='stylesheet', type='text/css', href='css/libs/swiper.min.css')
		link(rel='stylesheet', type='text/css', href='css/libs/leaflet.css')
		script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?sensor=false')
		script(type='text/javascript', src='js/libs/jquery-2.2.4.min.js')
		script(type='text/javascript', src='js/libs/swiper.jquery.min.js')
		script(type='text/javascript', src='js/libs/leaflet.js')
		script(type='text/javascript', src='js/main.js')
		script(type='text/javascript', src='js/plan.js')
		script(type='text/javascript', src='js/g_maps.js')
	body
		.menu-block
			.menu-items.main
				.menu-drop
					.menu-item.main Главная
					.menu-item.heads Цитаты
					.menu-item.about О выставке
					.menu-item.plan Экспозиция
					.menu-item.schedule Расписание событий
					.menu-item.contacts Как добраться
					.menu-item.partners Участники проекта
			a.menu-items.locale(href='#') en

		.content-block

			.content-item.video
				video(autoplay='autoplay', loop='loop', muted='muted', controls='false')
					source(src='video/' + randomInt(1,3) + '.mp4', type='video/mp4')
					| Your browser does not support the video tag.

			.content-item.main
				img.logo(src='img/logos/main.svg')
				.content-partners
					a.mkrf(href='http://mkrf.ru', target='_blank'): span(style='background-image: url(img/logos/mkrf.png)')
					a.cult_mos(href='http://kultura.mos.ru', target='_blank'): span(style='background-image: url(img/logos/cult_mos.svg)')
					a.manege(href='http://moscowmanege.ru', target='_blank'): span(style='background-image: url(img/logos/manege.svg)')

			.content-item.heads: .content-inner
				.swiper-container.swiper-container-h
					.swiper-pagination.swiper-pagination-h
					.swiper-wrapper
						include views/heads/ru.jade

			.content-item.about: .content-inner
				.content-title!= getDash('О выставке')
				.content-columns
					include views/about/ru.jade

			.content-item.plan
				#plan-canvas
				.content-inner
					.content-title!= getDash('Экспозиция')
					.content-preview-image: .preview-inner
					.content-preview-column.active
						.preview-images
							.swiper-container.swiper-container-h
								.swiper-pagination.swiper-pagination-h
								.swiper-button-prev
								.swiper-button-next
								.swiper-wrapper
									.swiper-slide.preview-image(path='img/plan/halls/p1.jpg', style='background-image: url(img/plan/halls/p1.jpg)')
									.swiper-slide.preview-image(path='img/plan/halls/p2.jpg', style='background-image: url(img/plan/halls/p2.jpg)')
									.swiper-slide.preview-image(path='img/plan/halls/p3.jpg', style='background-image: url(img/plan/halls/p3.jpg)')
						.preview-body: .preview-body-inner
							.preview-title ПАРАД НА КРАСНОЙ ПЛОЩАДИ.
							.preview-description
								p В судьбах каждого народа бывают события, которые глубоко врезаются в память и не тускнеют от времени. Для нашего народа одним из таких выдающихся исторических событий явился военный парад на Красной площади Москвы 7 ноября 1941 года.
								p …Шел пятый месяц Великой Отечественной войны. Красная Армия, оказывая врагу упорное сопротивление, с тяжелыми боями вынуждена была отступить вглубь страны и оставить врагу важные, развитые в экономическом отношении области с многочисленным населением. Немецкие войска оккупировали Литву, Латвию, Эстонию, Белоруссию, большую часть Украины, ряд западных областей Российской Федерации, блокировали Ленинград и угрожали Москве. 30 сентября 1941 года гитлеровские войска развернули генеральное наступление на Москву. Москва стала прифронтовым городом. Государственный Комитет Обороны с 20 октября объявил Москву и прилегающие к ней районы на осадном положении. Оборона столицы на рубежах, отстоящих на 100-120 км западнее Москвы, была поручена командующему войсками Западного фронта генералу армии Г.К. Жукову. На начальника гарнизона Москвы генерал-лейтенанта П.А. Артемьева возлагалась оборона города на его ближних подступах. Бои на московском направлении не затихали ни днем, ни ночью. К началу ноября 1941 года войска группы армий «Центр» находились в 80-110 километрах от центра столицы. Опасность, нависшая над Москвой, всколыхнула весь советский народ, отозвалась болью в сердце каждого советского человека. Для нашего народа Москва – не просто главный город, а нечто неизмеримо большее. Это его живая история, историческая память, сердце страны.
								p В обстановке суровых испытаний наш народ встречал 24-ю годовщину Великой Октябрьской социалистической революции, в то время – главный праздник в стране. Накануне произошло выдающееся событие, которого ожидали советские люди, хотя и сомневались в возможности его проведения в осажденном врагом городе. Но в 18 часов 6 ноября были включены все радиостанции Советского Союза: «Говорит Москва! Передаем торжественное заседание Московского Совета с представителями трудящихся города и доблестной Красной Армии, посвященное 24-й годовщине Великой Октябрьской социалистической революции…» В тот день, как обычно, состоялось торжественное заседание Московского Совета депутатов трудящихся совместно с партийными и общественными организациями столицы. Страну охватило ликование. С затаенным дыханием прильнули к радиоприемникам воины армии и флота, рабочие и колхозники, люди героического подполья и партизанских отрядов. Они услышали убедительный ответ на тревожащий каждого вопрос о положении под Москвой. У всех стало легче и спокойнее на душе, вселилась уверенность в то, что Москва обязательно выстоит «и врагу никогда не добиться, чтоб склонилась твоя голова…».
								p Но поистине потрясающее впечатление на граждан нашей страны и всего мира произвел парад войск Московского гарнизона 7 ноября на Красной площади! Величие парада подчеркивалось строгим соблюдением его традиционности и ритуала. Руководство страны разместилось на обычном месте – на трибуне Мавзолея. Правда, вопреки сложившейся тогда традиции проведения парада, речь произнес не принимающий парад (Маршал Советского Союза С.М. Буденный), а сам Верховный Главнокомандующий И.В. Сталин. В его речи были такие слова: «Разве можно сомневаться в том, что мы можем и должны победить немецких захватчиков?» Сейчас, с высоты исторического знания, легко понять смысл и значение решения о проведении парада, что называется под самым носом у врага. Это был дерзкий и сильнейший моральный удар и по военно-политическому руководству Германии, и по армии врага, командование которой обещало со дня на день вступить в Москву. По силе воздействия на ход дальнейших событий парад неслучайно приравнивается к военной операции. Журналист-международник Лев Безыменский в книге «Особая папка Барбаросса» отметил: «…Каждый раз, когда заканчивался очередной поход вермахта, берлинская кинокомпания «Уфа» поспешно создавала соответствующий документальный фильм. Польша и Франция, Норвегия и Греция должны были, как бы во второй раз переживать свой позор, когда на экране возникал хищный орел – эмблема кинокомпании. Многие кадры из этих фильмов стали «хроникальной классикой»: польские пограничные столбы, сброшенные на землю; Гитлер, пританцовывающий перед салон-вагоном в Компьене, где предстояло подписание французской капитуляции; немецкие солдаты, совершающие туристическую прогулку по афинскому Акрополю…
								p Поздней осенью 1941 года «Уфа» переживала большие затруднения. Уже пора было создавать очередной фильм – на сей раз о победе над Советским Союзом. Шел пятый месяц войны, и по всем расчетам Геббельса, лично опекавшего немецкую кинематографию, дивизии фельдмаршала фон Бока уже должны были войти в Москву – тем более что 2 октября началось наступление, которое считалось последним. Время для выпуска фильма, который должен был потрясти мир, явно созрело. Начиная с 22 июня 1941 года фронтовые операторы наснимали достаточное количество однообразных, но эффектных кадров. Не хватало лишь одного – финальной сцены. Фильм о походе против Польши завершался парадом в Варшаве, фильм «Победа на Западе» венчался маршем по Парижу, и само собой разумелось, что фильм «Поход на Восток» должен был завершаться парадом победоносных полков вермахта на Красной площади. Но вот беда – именно эти кадры не были сняты. По простой причине: Москву не взяли. Что делать…».
								p В том памятном 1941-м в движении полков на параде в осадной Москве была какая-то особенная и необычайная внутренняя сила. Войска шли в полном походном снаряжении. Пехотинцы – с патронными подсумками, малыми саперными лопатками, противогазами. Все понимали: враг у ворот столицы, опасность совсем рядом, возможно всякое, но летчики-истребители, дежурившие на аэродромах, дали клятву не допустить, чтобы в этот день немецкие самолеты сбросили бомбы на Москву. «Не пропустим к Москве! Если нужно, будем таранить», – заявили они. Многие боевые подразделения после окончания парада уходили прямо на фронт.
								p По всей стране (а в то время приемники и репродукторы на ночь не выключались) с нетерпением ждали шести часов утра, чтобы услышать голос Москвы, первый утренний выпуск последних известий, сводку Информбюро. И вот за несколько минут до 8.00 7 ноября на весь мир в эфире прозвучал знакомый голос Ю. Левитана: «Внимание, внимание! Говорят все радиостанции Советского Союза. Центральная радиостанция Москвы начинает передачу с Красной площади парада частей Красной Армии, посвященного 24-й годовщине Великой Октябрьской социалистической революции…». Слушали Левитана не только наши советские люди, слушали его и в стане противника. Гитлер был в бешенстве.
								p Таким образом, беспримерный в истории военный парад 7 ноября 1941 года оказал огромное влияние на морально-политическое состояние нашего народа, нашей армии и флота. Солдаты в окопах, люди, работавшие у заводских станков и мартеновских печей, на колхозных полях и фермах поняли одно: если столица торжественно отметила октябрьский праздник, когда в нескольких десятках километров стоят вражеские войска, значит, Москва непоколебима, а оборона ее крепка. И не только граждане СССР, но и за рубежом убедились в нашей решимости отстоять Москву, разгромить врага, одержать над ним победу. «Организация в Москве обычного традиционного парада, – писала английская газета «Ньюскроникл», – в момент, когда на подступах к городу идут жаркие бои, представляет собой великолепный пример мужества и отваги…»
								p Очевидным сделалось и другое: бессилие гитлеровского командования. Войска самой мощной в гитлеровском вермахте группы армий «Центр» находились всего в нескольких десятках километров от Красной площади, но не смогли помешать проведению парада. Ноябрьский парад произвел ошеломляющее впечатление на врага на всем советско-германском фронте, вызвав в его стане смятение и даже растерянность. Гитлеровцы были обескуражены дерзостью советского военно-политического руководства не только организовавшего парад, но и рядом сильных ударов на волоколамском, можайском и малоярославецком направлениях. Как бесценное сокровище, передавались из рук в руки сброшенные самолетами за линией фронта газеты с отчетами о торжественном заседании и о параде на Красной площади. Они поднимали дух советских людей, оказавшихся на территории временно оккупированной врагом. Со слезами радости узнавали они, что распространяемые гитлеровцами и их пособниками слухи о взятии Москвы – ложь, что Москва стояла и стоит непоколебимо, а зарвавшийся враг наказан…

								p Парад 7 ноября 1941 года, проведенный в самый тяжелый для Родины момент, был предвестником нашей великой Победы 9 мая 1945 года. Сегодня 7 ноября – это День воинской славы России, когда отмечается очередная годовщина того памятного парада на Красной площади:
								p
									div Слышится нам эхо давнего парада,
									div Снятся нам маршруты давнего броска.
									div Ты – моя надежда, ты – моя отрада,
									div В сердце у солдата ты, моя Москва.
									div Мы свою победу выстрадали честно,
									div Преданы святому кровному родству,
									div В каждом новом доме, в каждой новой песне,
									div Помните ушедших в битву за Москву!

			.content-item.schedule: .content-inner
				.content-title!= getDash('Расписание событий')
				.content-schedule

					.schedule-item
						.schedule-date 28.01.2016
						.schedule-events

							.schedule-event
								.event-title Встреча с ветеранами
								.event-description В канун Дня Победы в Центральном музее Вооружённых Сил выставили подлинное знамя Победы, водружённое в 1945 году над рейхстагом. Ранее в музее экспонировалась копия реликвии. На церемонии открытия экспозиции «Знамя Победы» выступил Дмитрий Медведев. Главными гостями церемонии стали ветераны Великой Отечественной войны, сослуживцы Михаила Егорова и Мелитона Кантарии.

					.schedule-item
						.schedule-date 26.01.2016
						.schedule-events

							.schedule-event
								.event-title Первая победа
								.event-description В канун Дня Победы в Центральном музее Вооружённых Сил выставили подлинное знамя Победы, водружённое в 1945 году над рейхстагом. Ранее в музее экспонировалась копия реликвии. На церемонии открытия экспозиции «Знамя Победы» выступил Дмитрий Медведев. Главными гостями церемонии стали ветераны Великой Отечественной войны, сослуживцы Михаила Егорова и Мелитона Кантарии.

							.schedule-event
								.event-title Зенитные орудия
								.event-description В канун Дня Победы в Центральном музее Вооружённых Сил выставили подлинное знамя Победы, водружённое в 1945 году над рейхстагом. Ранее в музее экспонировалась копия реликвии. На церемонии открытия экспозиции «Знамя Победы» выступил Дмитрий Медведев. Главными гостями церемонии стали ветераны Великой Отечественной войны, сослуживцы Михаила Егорова и Мелитона Кантарии.

					.schedule-item
						.schedule-date 22.01.2016
						.schedule-events

							.schedule-event
								.event-title Священная война
								.event-description В канун Дня Победы в Центральном музее Вооружённых Сил выставили подлинное знамя Победы, водружённое в 1945 году над рейхстагом. Ранее в музее экспонировалась копия реликвии. На церемонии открытия экспозиции «Знамя Победы» выступил Дмитрий Медведев. Главными гостями церемонии стали ветераны Великой Отечественной войны, сослуживцы Михаила Егорова и Мелитона Кантарии.

							.schedule-event
								.event-title Священная война
								.event-description В канун Дня Победы в Центральном музее Вооружённых Сил выставили подлинное знамя Победы, водружённое в 1945 году над рейхстагом. Ранее в музее экспонировалась копия реликвии. На церемонии открытия экспозиции «Знамя Победы» выступил Дмитрий Медведев. Главными гостями церемонии стали ветераны Великой Отечественной войны, сослуживцы Михаила Егорова и Мелитона Кантарии.

					.schedule-item
						.schedule-date 12.01.2016
						.schedule-events

							.schedule-event
								.event-title Священная война
								.event-description В канун Дня Победы в Центральном музее Вооружённых Сил выставили подлинное знамя Победы, водружённое в 1945 году над рейхстагом. Ранее в музее экспонировалась копия реликвии. На церемонии открытия экспозиции «Знамя Победы» выступил Дмитрий Медведев. Главными гостями церемонии стали ветераны Великой Отечественной войны, сослуживцы Михаила Егорова и Мелитона Кантарии.

			.content-item.contacts
				#map-canvas
				.content-inner
					.content-title!= getDash('Как добраться')

			.content-item.partners
				.content-inner
					.content-title!= getDash('Участники проекта')
					.content-partners-columns
						include views/partners/ru.jade

			.content-footer: .footer-inner
				.footer-desc.left &copy; D D | A D 2016
				.footer-desc.right: a(href='http://moscowmanege.ru', target='_blank') MOSCOWMANEGE.RU