.d_col
	.d_title Every plan has included:

	.d_section
		.d_li 24/7 customer support
		.d_li 30 days money back guarantee
		.d_li free minor version upgrades

.d_col
	.d_title Select your paid plan:

	.d_section
		.s_title License
		.s_content
			.d_link
				a(href='#') Color Finale Basic
				span= ' - $99.99'
			.d_link
				a(href='#') Color Finale Pro
				span= ' - $149.99'

	.d_section
		.s_title Bundles
		.s_content
			.d_link
				a(href='#') Color Finale Pro + Ascend Presets
				span= ' - $199.99'
			.d_link
				a(href='#') Color Finale Pro + Film Grain
				span= ' - $199.99'
			.d_link
				a(href='#') Color Finale Pro + All Presets
				span= ' - $249.99'

	.d_section
		.s_title Presets
		.s_content
			.d_link
				a(href='#') Ascend Presets
				span= ' - $24.99'
			.d_link
				a(href='#') Film Grain
				span= ' - $24.99'
			.d_link
				a(href='#') All Presets
				span= ' - $49.99'

	.d_section
		.s_title Upgrades
		.s_content
			.d_link
				a(href='#') Basic to Pro
				span= ' - $49.99'