.d_col
	.d_title Key features:
	br

	.d_link
		a(href='#one') One Title
		span= ' - Description for one title'
	.d_link
		a(href='#two') Super Long Title
		span= ' - Description for Super Long Title'
	.d_link
		a(href='#three') Short Title
		span= ' - Description for short title'
	.d_link
		a(href='#four') No Title
		span= ' - Description for No Title'
	.d_link
		a(href='#five') Middle Title
		span= ' - Description for Middle Title'
	.d_link
		a(href='#six') Zero Title
		span= ' - Description for Middle Title'

.d_col
	.d_title Trusted by:

	img.logo_img.ho(src='img/logo/hbo.png')
	img.logo_img.wo(src='img/logo/sony.png')
	img.logo_img.ho(src='img/logo/marvel.png')
	img.logo_img.wo(src='img/logo/nbc.png')